.header {
  width: 100%;
  height:50px;
  position: relative;
  bottom: 0;
  background-color: #008080;
  display: table;
}

.header p {
  color: white;
  font-size: 2rem;
  font-weight: bold;
}


.footer {
  width: 100%;
  height:100px;
  position: absolute;
  bottom: 0;
  background-color: #000080;
  display: table;
}

.footer p {
  font-size: 1rem;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
}

